/*Globals*/
 *{margin:0;padding:0;
  

 }
img {display: block;border:0;}
a:visited {text-decoration: none;}
a:link {text-decoration: none;}
a:hover{text-decoration: underline;}
a:active {text-decoration: none;}


body {
}
