/*Globais*/
body{background-color:#A5BED3; background-image:url(../imagens/bg_site.gif); background-repeat:repeat-x;}
#logo{text-indent:-1000px; background-image:url(../imagens/logo_admin.jpg); background-repeat:repeat-x; background-position: 0 17px;width:153px; height:62px; float:left;}
#canto{ width:25px; height:45px;background-image: url(../imagens/canto_nav_admin.jpg); background-repeat: no-repeat; float:right; background-position: 0 17px;}
#links{ float:left;}
#clearer{ clear:both;}

/*Conteúdo*/
#conteudo {font-family: "Trebuchet MS", verdana, lucida, sans-serif; font-size:10px; color:#000000;}
#conteudo h2{ font-family: "Trebuchet MS", verdana, lucida, sans-serif; font-size:25px; font-weight:bold; color:#456989; margin:0px 0px 10px 0px; border-bottom:1px solid #456989; text-indent:5px;} 
#conteudo h3 {font-family: "Trebuchet MS", verdana, lucida, sans-serif; font-size:16px; font-weight:bold; color:#456989;}

/*Navegação*/
#topo{height:62px; background-image:url(../imagens/bg_nav_admin.jpg); background-repeat:repeat-x; margin:0px; padding:0px; }
#navcontainer{margin: 34px 0 0 10px ;padding:0; height: 24px; float:left; width:550px;}
#navcontainer ul{ border: 0; margin: 0; padding: 0;list-style-type: none;}
#navcontainer li { float: left;position: relative;width: 90px; display:block;}
#navcontainer ul li a{width: 90px;height: 24px;color: #385570;text-decoration: none;display: block;text-align: center;font: normal 10px "Trebuchet MS", verdana, lucida, sans-serif; font-weight:bold; background-image:url(../imagens/tab_azul_menu_admin.jpg);background-repeat:no-repeat; margin-right:2px; padding-top:5px;}
#navcontainer ul li a:hover{background-image:url(../imagens/tab_branca_menu_admin.jpg); background-repeat:no-repeat;}
#navcontainer ul li a.tab_sair{width: 48px;height: 24px;color:#844F00;text-decoration: none;display: block;text-align: center;font: normal 10px "Trebuchet MS", verdana, lucida, sans-serif; font-weight:bold; background-image:url(../imagens/tab_laranja_menu_admin.gif);background-repeat:no-repeat; margin-right:2px; padding-top:5px;}
#navcontainer ul li a.tab_sair:hover{background-image:url(../imagens/tab_branco_menu_admin.gif); background-repeat:no-repeat;}
#navcontainer ul li ul li a:hover{color: #fff; background-image:url(../imagens/bit_branco.gif); background-repeat:repeat; }
#navcontainer ul li ul li a{color: #385570;border-top:1px solid #FFFFFF ;background-image:url(../imagens/bit_azul.gif); background-repeat:repeat; height:20px;}
#navcontainer li ul {color: #990000;text-decoration: none;font: normal 10px "Trebuchet MS", verdana, lucida, sans-serif;}
li ul {display: none; position: absolute; top: 25px; left: 0;}
li>ul {top: auto;left: auto;}
li:hover ul, li.over ul { display: block;}

/*Cantos Arredondados*/
.bl {background: url(../imagens/bl.gif) 0 100% no-repeat #fff; width: 100%} 
.br {background: url(../imagens/br.gif) 100% 100% no-repeat} 
.tl {background: url(../imagens/tl.gif) 0 0 no-repeat} 
.tr {background: url(../imagens/tr.gif) 100% 0 no-repeat; padding:10px} 
.clear {font-size: 1px; height: 1px}